/* bootstrap */

.content-wrapper  {
    background-color: white;
}

.btn-success {
    border: none;
    background-color: #00b65d;
}
.btn-selling{
    background-color:#58628e;
    color: white;
}
.btn-hr{
    background-color: #F08080;
    color: white;
}

.btn-success:hover {
    background-color: #00b65d;
}

.btn-danger {
    border: none;
    background-color: #F08080;
}

.btn-danger:hover {
    border: none;
    background-color: #CD5C5C;
}

.btn-primary {
    border: none;
}

.form-control[disabled] {
    background-color: #fff;
    color: #767676;
}

.input-group .input-group-addon {
    background-color: #f1f1f1;
}

label {
    white-space: nowrap;
}

.form-control:not(.btn) {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
    border-top: 0;
}

.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-bottom-width: 2px;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border: 1px solid #ddd;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

th {
    text-align: left;
}

th {
    color: #767a7d;
}

.input-group-prepend > .btn:first-child {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #888;
    background-color: #fff;
    border-color: #ccc;
}

/* /bootstrap */

/* detached-block */

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.kv-anchor {
    float: left;
    padding-top: 4px;
    padding-right: 4px;
    margin-left: -20px;
    height: 30px;
    font-size: 16px;
    color: #999;
    display: inline-block;
}

.bs-example {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

.detached-block-example {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #ddd;
    border-radius: 4px 0;
    padding: 3px 7px;
    color: #555;
    background-color: #f1f1f1;
    text-shadow: #fff 1px 1px 0;
}

.has-feedback label ~ .form-control-feedback {
    margin-right: 10px;
}

.product-form .has-feedback label ~ .form-control-feedback {
    margin-right: 15px;
}

/* /detached-block */

/* kartik */

.kv-drp-container .range-value {
    display: none;
}

.dynagrid-sortable-header,
.bootstrap-dialog.type-info .modal-header,
.bootstrap-dialog.type-warning .modal-header {
    background-color: #348d4d !important;
    border-radius: 0;
}

/* /kartik */

/* cosmetic */

.breadcrumbs-bar {
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: none outside none;
}

h1 {
    color: #374850;
    font-size: 27px !important;
}

.grid-view tbody tr,
table.kv-grid-table tbody tr {
    cursor: pointer;
}

span.not-set {
    color: #de4c39;
}

.pagination {
    margin: 10px;
    margin-bottom: 0px;
}

.pagination > .active > a,
.pagination > .active > a:hover {
    background-color: #348d4d;
}

/* /cosmetic */

/* Kartik */

div.editable-grid ul.dropdown-menu {
    left: 0 !important;
    min-width: 250px !important;
}

/* /Kartik */

.btn-fix {
    height: 45px;
}