label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0px;
}


.check-radio {
    margin: 4px auto;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 0px;
}

.cont-carousel {
    position: relative;
    width: 800px;
    height: 45px;
    padding: 10px 40px;
    border: 10px;
    border-radius: 15px;
}

.carousel {
    border-radius: 7px;
    width: 80%;
    height: 50px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.carousel::-webkit-scrollbar {
    width: 7px;
    height: 4px;
    background-color: #ffffff;
}

.carousel::-webkit-scrollbar-thumb {
    border-width: 3px 3px 3px 2px;
    border-color: #00b65d;
    background-color: #3c8dbc;
}

#text-div::-webkit-scrollbar {
    width: 7px;
    height: 4px;
    background-color: #ffffff;
}

#text-div::-webkit-scrollbar-thumb {
    border-width: 3px 3px 3px 2px;
    border-color: #00b65d;
    background-color: #3c8dbc;
}

.carousel-child {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 60px;

}

#text-div {
    background: #ffffff; /* Цвет фона */
    color: #000000; /* Цвет текста */
    overflow-y: scroll;
    height: 125px;
}

#name_on_picture {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

h4, h2, h3 {
    text-shadow: 4px 3px 9px black;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

h2 {
    font-size: 30px;
    top: 0px;
}

h3 {
    font-size: 23px;
    top: 33px;
}

h4 {
    font-size: 20px;
    top: 69px;
}

.content {
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

#border {
    margin-left: 50px;
    /*margin-right: ' . $borderMarginRight . 'px;*/
}

.content-header {
    position: relative;
    padding: 0px 0px 0 0px;
}

p {
    margin: 0 0 3px;
}


.container-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-label input:checked ~ .checkmark {
    background-color: #3c8dbc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-label input:checked ~ .checkmark:after {
    display: block;
}


.container-label .checkmark:after {
    top: 27%;
    left: 27%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.skin-green-light .wrapper {
    background-color: white;
}

#picture {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#nav-tabs{
    margin-bottom: 0px;
}


.navigator{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .desc {
        display: none;
    }

    #nav-tabs{
        visibility: hidden;
    }

    #border {
        margin-left: 5px;
        margin-right: 5px;
    }
}